{% extends "emails/_base_email.html" %}
{% block title %}Notification de changement d'adresse e-mail - Jàngu Bi{% endblock %}
{% block content %}
<h1>Changement d'adresse e-mail</h1>
<p>Bonjour,</p>
<p>
  Nous vous informons qu'une demande de changement d'adresse e-mail a été effectuée sur votre compte
  <strong class="brand">Jàngu Bi</strong>.
</p>
<div class="address-block">
  <strong class="brand">Information importante</strong><br><br>
  L'adresse e-mail de votre compte sera modifiée une fois que la nouvelle adresse aura été confirmée.
</div>
<p>
  Si vous n'êtes pas à l'origine de cette demande, contactez immédiatement notre équipe de support pour sécuriser votre compte :<br>
  <a href="mailto:support@jangubi.sn" class="link-muted">support@jangubi.sn</a>
</p>
<p style="margin-top:30px;font-size:13px;" class="text-muted">
  <strong>L'équipe <span class="brand">Jàngu Bi</span></strong><br>
  <span style="font-size:12px;">Ce message est généré automatiquement, merci de ne pas y répondre.</span>
</p>
{% endblock %}
